.qf-slider {
  width: 100%;
  position: relative;


  &__bar {
    background: var(--primary-color);
    height: 6px;
    border-radius: var(--border-radius);
  }
  &__dragger {
    background: #fff;
    border: 2px solid var(--primary-color);
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(-50%);
    top: -8px;
    user-select: none;
    border-radius: 50%;
  }

  &--disabled {
    .qf-slider__bar {
      background: var(--disabled-color);
    }
    .qf-slider__dragger {
      border-color: var(--disabled-color);
    }
  }
}
